body {
    padding: 43px 70px 100px 50px;
    max-width: 1300px;
    margin: auto;
    background-color: #191919;
    text-decoration: none;
    color: white;
    font-family: "Dm sans";
}

.button {
    border: none;
    color: white;
    background-color: #118DA8;
    background-repeat: no-repeat;
    cursor: pointer;
    font-family: 'Dm sans';
}

.ul {
    display: flex;
}

div {
    display: block;
    height: max-content;
}

.article {
    display: block;
    height: max-content;
}

.img {
    width: max-content;
    height: max-content;
}

.a {
    text-decoration: none;
    color: inherit;
}

.h1 {
    font-weight: 400;
}

@font-face {
    font-family: "Dm sans";
    font-weight: normal;
    src: url("../fonts/DMSans-Medium.ttf");
}

@font-face {
    font-family: "Dm sans";
    font-weight: bold;
    src: url("../fonts/DMSans-Bold.ttf");
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.header-container__nav {
    display: flex;
    width: 100% 100%;
}

.header-container__nav a:hover {
    color: #118DA8;
}

.header-container__nav > * {
    padding-left: 30px;
    font-size: 17px;
    font-family: 'Dm sans';
}

.person1 {
    display: flex;
    align-items: flex-end;
    padding-top: 40px;
}

.person1__header {
    font-size: 70px;
    font-weight: normal;
}

.person1__content {
    align-content: center;
    padding-left: 60px;
    width: 65%;
}

.person1__content > div {
    width: 65%;
}

.listen-on-container {
    padding: 100px 0 130px 0px;
}

.person1__next-word {
    background-image: url(../img/nextLine.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.person1__level-word {
    font-weight: 700;
}

.listen-on-links {
    gap: 17px;
}

.listen-on-container__caption {
    font-size: 15px;
    padding-bottom: 16px;
}

.person1__pictures {
    position: relative;
}

.line1 {
    position: absolute;
    left: -20px;
    top: 20px;
}

.line2 {
    position: absolute;
    left: -20px;
    top: -17px;
}

.line3 {
    position: absolute;
    left: 20px;
    top: -20px;
}

.episodes__container{
    row-gap: 60px;
    display: flex;
    flex-flow: column;
}

.episode__caption {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 4px;
}

.episode-button {
    width: 178px;
    height: 51px;
    border-radius: 6px;
    align-self: center;
    font-size: 17px;
}

.episode {
    display: flex;
    height: fit-content;
    background-color: black;
    border-radius: 32px;
}

.episode__img {
    margin: 30px 0px 30px 30px;
    width: 389px;
    height: 465px;
}

.episode__info {
    display: grid;
    margin: 30px 0 0 53px;
    height: 465px;
    align-content: space-between;
}

.episode-tag {
    font-size: 18px;
    background-color: #191919;
    border-radius: 6px;
    height: 27px;
    width: max-content;
    padding: 0 15px 0 15px;
}

.episode__number {
    color: #118DA8;
    font-size: 17px;
    margin: 48px 0 18px 0;
}

.episodes-header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 40px;
}

.episodes-header-container__header {
    font-size: 64px;
    width: 70%;
    margin-bottom: 28px;
}

.episode__header {
    font-size: 64px;
    width: 70%;
    margin-bottom: 28px;
}

.episode__description {
    width: 85%;
    font-size: 22px;
    opacity: 70%;
    margin-bottom: 18px;
}

.person2 {
    display: flex;
    padding-top: 260px;
}

.person2__content {
    display: grid;
    align-self: center;
}

.meet-button {
    width: 112px;
    height: 112px;
    border-radius: 400px;
    background-image: url("../img/right_arrow.png");
    background-position: center;
}

.meet-button__text {
    color: #118DA8;
    font-size: 18px;
    margin-top: 15px;
}

.person2__header {
    font-size: 65px;
    margin-top: 25px;
}

.person2__description {
    font-size: 22px;
    opacity: 70%;
    margin-top: 28px;
    width: 85%;
}

.subscribe-section__container {
    padding-top: 200px;
}

.subscribe-section {
    background-color: black;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    padding: 60px;
}

.subscribe-section__email-text {
    color: #118DA8;
    font-size: 18px;
}

.subscribe-section__subscribe-header {
    font-size: 72px;
    width: 80%;
    margin-top: 20px;
}

.subscribe__input {
    background-color: #191919;
    border: none;
    width: 522px;
    height: 82px;
    border-radius: 6px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Dm sans';
    font-size: 24px;
    padding-left: 14px;
    cursor: pointer;
    opacity: 70%;
}

.input__name {
    display: block;
}

.input__email {
    display: block;
}

.input__submit {
    display: block;
    width: 87px;
    height: 48px;
    background-color: #118DA8;
    font-weight: 700;
    font-size: 15px;
    padding-left: 0em;
}

.rating {
    padding: 54px 0px 21px 50px;
}

.comment__rating img {
    padding-right: 4px;
}

.comment__content {
    font-size: 36px;
    padding: 0 0 19px 50px;
    width: 80%;
}

.comment__author {
    padding: 0 0 51px 50px;
    opacity: 70%;
    font-size: 24px;
}

.comments-section {
    display: flex;
    flex-wrap: wrap;
    padding: 200px 0px 200px 0;
    justify-content: space-between;
    row-gap: 16px;
    max-width: 1300px;
}

.comment {
    width: 423px;
    background-color: black;
    border-radius: 32px;
    height: 328px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-right: 219px;
}

.footer__nav-container{
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    padding-right: 240px;
    cursor: pointer;
}

.footer__social-logos{
    column-gap: 10px;
    padding-top: 23px;
    cursor: pointer;
}

.footer__links > a:hover {
    color: #118DA8;
}

.footer__links {
    width: 179px;
}

.footer__links > a {
    display: block;
    padding-bottom: 10px;
    font-size: 17px;
}