body {
    margin: 0px;
    background-color: #191919;
    text-decoration: none;
    color: white;
    font-family: "Dm sans";
}

button {
    border: none;
    color: white;
    background-color: #118DA8;
    background-repeat: no-repeat;
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    padding: 0px;
    margin: 30px;
}

div {
    margin-left: 30px;
    display: block;
    height: max-content;
}

article {
    margin-left: 30px;
    display: block;
    height: max-content;
}

img {
    width: max-content;
    height: max-content;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    margin-left: 0px;
}

h1 {
    font-weight: 400;
}

@font-face {
    font-family: "Dm sans";
    src: url("../fonts/DMSans-Medium.ttf");
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 40px;
}

.header_list {
    display: flex;
    margin-right: 60px;
    width: 100% 100%;
}

.header_list_element:hover {
    color: #118DA8;
}

.header_list_element {
    padding: 0px 15px 0px 15px;
    font-size: 17px;
    font-family: 'Dm sans';
}

.negr1_container {
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
}

.negr1_text {
    font-size: 70px;
    font-weight: normal;
}

.negr1_content_container {
    align-content: center;
}

.negr1_text_container {
    align-self: end;
    width: 65%;
}

.negr1_listen_container {
    margin-top: 100px;
    margin-bottom: 130px;
    align-self: end;
}

.negr1_next_word {
    background-image: url(../img/nextLine.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.negr1_links {
    justify-content: left;
    padding: 0px;
    margin-left: 0px;
}

.listen_on_link {
    margin-right: 5px;
    margin-left: 0px;
}

.negr1_listen_on_caption {
    font-size: 15px;
}

.negr1_pic_container {
    position: relative;
}

.line1 {
    position: absolute;
    left: -20px;
    top: 20px;
}

.line2 {
    position: absolute;
    left: -20px;
    top: -17px;
}

.line3 {
    position: absolute;
    left: 20px;
    top: -20px;
}

.ep_header {
    display: flex;
    justify-content: space-between;
}

.ep_caption {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 4px;
}

.all_ep_button {
    width: 178px;
    height: 51px;
    border-radius: 6px;
    align-self: center;
    font-size: 17px;
    margin-right: 6%;
    padding: 0px;
}

.episode {
    display: flex;
    height: fit-content;
    background-color: black;
    border-radius: 32px;
    margin-right: 6%;
    margin-bottom: 50px;
    margin-left: 30px;
}

.ep_img {
    margin: 30px 0px 30px 30px;
    width: 389px;
    height: 465px;
}

.ep_info {
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ep_tag {
    font-size: 18px;
    background-color: #191919;
    border-radius: 6px;
    width: 73px;
    height: 27px;
}

.ep_tag2 {
    width: max-content;
    padding: 0 15px 0 15px;
}

.ep_number {
    color: #118DA8;
    font-size: 17px;
    margin-top: 50px;
}

.ep_h1 {
    font-size: 64px;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 80%;
}

.ep_description {
    width: 80%;
    font-size: 22px;
    opacity: 70%;
}

.ep_details {
    margin: 20px 0 0 0;
}

.negr2_container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 250px;
}

.negr2_img_container {
    margin-right: 6%;
}

.negr2_content {
    display: grid;
    align-self: center;
}

.negr2_button {
    width: 112px;
    height: 112px;
    border-radius: 400px;
    background-image: url("../img/right_arrow.png");
    background-position: center;
}

.negr2_description {
    color: #118DA8;
    font-size: 18px;
    margin-top: 15px;
}

.negr2_name {
    font-size: 65px;
    margin-top: 15px;
}

.negr2_main_content {
    font-size: 22px;
    opacity: 70%;
    margin-top: 35px;
    width: 85%;
}

.subscribe_form_container {
    background-color: black;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    margin: 200px 6% 0 60px;
}

.subscribe_head {
    color: #118DA8;
    font-size: 18px;
    margin-top: 50px;
}

.subscribe_text {
    font-size: 72px;
    width: 80%;
    margin-top: 20px;
}

.input_form {
    align-content: center;
    margin-right: 50px;
}

input {
    background-color: #191919;
    border: none;
    width: 522px;
    height: 82px;
    border-radius: 6px;
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    padding-left: 14px;
    cursor: pointer;
}

.input_name {
    display: block;
}

.input_email {
    display: block;
}

.input_submit {
    display: block;
    width: 87px;
    height: 48px;
    background-color: #118DA8;
    font-weight: 700;
    font-size: 15px;
    padding-left: 0em;
}

.comment_rating {
    margin: 40px 0 10px 30px;
    padding: 0px;
}

.star_img {
    margin-right: 4px;
}

.comment_content {
    font-size: 36px;
    margin: 0 0 20px 30px;
    width: 80%;
}

.comment_author {
    margin-left: 30px;
    opacity: 70%;
    font-size: 24px;
}

.comments_section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
}

.comment {
    width: 27.38%;
    background-color: black;
    border-radius: 32px;
    margin: 0 0 60px 60px;
    height: 328px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.logo_pic {
    margin-left: 30px;
}

.social_logo {
    margin-right: 8px;
    cursor: pointer;
}

.nav_links > a {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
}

.nav_links {
    margin-left: 250px;
}

.nav_links2 {
    margin-left: 150px;
}

.footer_links {
    margin-right: 22%;
}