body {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #191919;
    text-decoration: none;
    color: white;
    font-family: "Dm sans";
}

button {
    border: none;
    color: white;
    background-color: #118DA8;
    background-repeat: no-repeat;
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    padding-top: 30px;
}

div {
    display: block;
    height: max-content;
}

article {
    display: block;
    height: max-content;
}

img {
    width: max-content;
    height: max-content;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-weight: 400;
}

@font-face {
    font-family: "Dm sans";
    font-weight: normal;
    src: url("../fonts/DMSans-Medium.ttf");
}

@font-face {
    font-family: "Dm sans";
    font-weight: bold;
    src: url("../fonts/DMSans-Bold.ttf");
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.header-container_nav {
    display: flex;
    width: 100% 100%;
}

.header-container_nav > *:hover {
    color: #118DA8;
}

.header-container_nav > * {
    padding-left: 30px;
    font-size: 17px;
    font-family: 'Dm sans';
}

.person1 {
    display: flex;
    align-items: flex-end;
    padding-top: 40px;
}

.person1_header {
    font-size: 70px;
    font-weight: normal;
}

.person1_content {
    align-content: center;
    padding-left: 60px;
    width: 65%;
}

.person1_content > div {
    width: 65%;
}

.person1_listen-on-container {
    padding-top: 100px;
    padding-bottom: 130px;
}

.person1_next-word {
    background-image: url(../img/nextLine.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.person1_level-word {
    font-weight: 700;
}

.listen-on-links {
    justify-content: left;
}

.listen-on-links > *{
    margin-right: 17px;
}

.person1_listen-on-caption {
    font-size: 15px;
}

.person1_pictures {
    position: relative;
}

.line1 {
    position: absolute;
    left: -20px;
    top: 20px;
}

.line2 {
    position: absolute;
    left: -20px;
    top: -17px;
}

.line3 {
    position: absolute;
    left: 20px;
    top: -20px;
}

.episode_caption {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 4px;
}

.episode_button {
    width: 178px;
    height: 51px;
    border-radius: 6px;
    align-self: center;
    font-size: 17px;
}

.episode {
    display: flex;
    height: fit-content;
    background-color: black;
    border-radius: 32px;
    margin-bottom: 50px;
}

.episode_img {
    margin: 30px 0px 30px 30px;
    width: 389px;
    height: 465px;
}

.episode_info {
    display: grid;
    padding-top: 30px;
    padding-left: 30px;
    margin: 0px;
    height: 465px;
    align-content: space-between;
}

.episode_tag {
    font-size: 18px;
    background-color: #191919;
    border-radius: 6px;
    height: 27px;
    width: max-content;
    padding: 0 15px 0 15px;
}

.episode_number {
    color: #118DA8;
    font-size: 17px;
    margin-top: 50px;
}

.episodes-header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding: 100px 6% 50px 0px;
}

.episodes-header-container_header {
    font-size: 64px;
    width: 70%;
}

.episode_description {
    width: 85%;
    font-size: 22px;
    opacity: 70%;
}

.person2 {
    display: flex;
    padding-top: 250px;
}

.person2_content {
    display: grid;
    align-self: center;
}

.person2_button {
    width: 112px;
    height: 112px;
    border-radius: 400px;
    background-image: url("../img/right_arrow.png");
    background-position: center;
}

.person2_button-text {
    color: #118DA8;
    font-size: 18px;
    margin-top: 15px;
}

.person2_header {
    font-size: 65px;
    margin-top: 15px;
}

.person2_description {
    font-size: 22px;
    opacity: 70%;
    margin-top: 35px;
    width: 85%;
}

.subscribe-container {
    background-color: black;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    margin: 200px 0 0 0;
    padding: 60px;
}

.subscribe-container_email-text {
    color: #118DA8;
    font-size: 18px;
}

.subscribe-container_subscribe-header {
    font-size: 72px;
    width: 80%;
    margin-top: 20px;
}

input {
    background-color: #191919;
    border: none;
    width: 522px;
    height: 82px;
    border-radius: 6px;
    margin-bottom: 20px;
    color: white;
    font-size: 24px;
    padding-left: 14px;
    cursor: pointer;
    opacity: 70%;
}

.input_name {
    display: block;
}

.input_email {
    display: block;
}

.input_submit {
    display: block;
    width: 87px;
    height: 48px;
    background-color: #118DA8;
    font-weight: 700;
    font-size: 15px;
    padding-left: 0em;
}

.comment_rating {
    margin: 40px 0 10px 30px;
    padding: 0px;
}

.comment_rating img {
    padding-right: 4px;
}

.comment_content {
    font-size: 36px;
    margin: 0 0 20px 30px;
    width: 80%;
}

.comment_author {
    margin-left: 30px;
    opacity: 70%;
    font-size: 24px;
}

.comments-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    justify-content: space-between;
}

.comment {
    width: 423px;
    background-color: black;
    border-radius: 32px;
    margin-bottom: 60px;
    height: 328px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-right: 150px;
}

.social-logos > * {
    margin-right: 8px;
    cursor: pointer;
}

.nav-links > a {
    display: block;
    margin-bottom: 10px;
    font-size: 17px;
}

.nav-links {
    padding-left: 150px;
}